a {
  text-decoration: none;
}

button, a {
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 14px;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  font-size: $font-size-base;
  transition: $transition-base;
  font-family: $font-family-base;
  border-radius: $border-radius-lg;
  & .btn-icon {
    font-size: $icon-size-xs;
    transition: $transition-base;
  }
  &:hover { transform: translateY(-2px); }
  &:active { transform: translateY(1px); }
}

.btn {
  @include button();
}

.btn-link {
  @include buttonLink();
}

.btn-outline {
  @include buttonOutline();
}